@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

p {
  font-family: "Poppins", sans-serif;
}

.text-primary {
  color: #e53935;
}

.bg-primary {
  background-color: #e53935;
}

body {
  background: var(--background);
  color: var(--foreground);
}
